<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-chalkboard-user"></i></a>
      <a class="navbar-brand" href="/"><b>APNA INTERN</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <% if(currUser && currUser.usertype==="student"){%>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/student/internship">Internship</a>
          <a class="nav-link" href="/student/job">Job</a>
        </div>
        <%}%>
        <% if(currUser && currUser.usertype==="company"){%>
        <div class="navbar-nav  ms-auto">
          <a class="nav-link" href="/company/internship/new">post</a>
        </div>
        <%}%>
        <% if(!currUser){ %>
          <div class="navbar-nav ms-auto"></div>
              <a class="btn btn-outline-primary mx-2" aria-current="page" href="/login">Login</a>
              <a class="btn btn-outline-primary mx-2" href="/signup">Signup</a>
          </div>
        <% } %>
        <% if(currUser){ %>
              <div class="navbar-nav dropdown mx-5">
                  <button class="btn btn-outline-secondary rounded-pill " type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></button>
                  <ul class="dropdown-menu  dropdown-menu-end pt-3 px-3">
                      <li><%= currUser.email %></li>
                      <li><hr class="dropdown-divider"></li>
                      <% if(currUser && currUser.usertype==="student"){%>
                      <li><a class="dropdown-item" href="/student">Home</a></li>
                      <li><a class="dropdown-item" href="/student/profile">profile</a></li>
                      <li><a class="dropdown-item" href="/student/myapplication">My Application</a></li>
                      <%}%>
                      <% if(currUser && currUser.usertype==="company"){%>
                      <li><a class="dropdown-item" href="/company/profile">Profile</a></li>
                      <li><a class="dropdown-item" href="/company/job">My Job Posts</a></li>
                      <li><a class="dropdown-item" href="/company/internship">My Internship Posts</a></li>
                      <%}%>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/logout">logout</a></li>
                  </ul>
              </div>
          <% } %>
      </div>
    </div>
  </nav>